

#h4_0{
   color:white;
   font-size: 3vw;
   text-align: center;
}

#h4_1{
   color: black;
   font-size: 3vw;
   text-align: center;
}
#h6_0{
   color:white;
   font-size: 2vw;
   text-align: center;
   text-decoration-line: underline;
}

#h6_1{
   color:white;
   font-size: 2vw;
   text-align: center;
   text-decoration-line: underline;
}

#hr_0{
   color: orange;
}
#hr_1{
   color: black;
}
#pre_0{
   color: #61dafb;
   font-size: 1.3vw;
}
#pre_1{
   color: black;
   font-size: 1.3vw;
}

#p_0{
   color: white;
   text-align: center;
   font-size: 1.5vw;
}
#p_1{
   color: black;
   text-align: center;
   font-size: 1.5vw;
}

#a_href{
   color: mediumseagreen;
   font-size: 1.5vw;
}

#ul_0{
   color: white;
   font-size: 2vw;
}

#ul_1{
   color: black;
}

